// Variables for Custom New Year Module
$globe-width: 12px;
$globe-height: 28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

// Color scheme
$light-cyan: rgba(0, 255, 255, 1);
$light-cyan-dim: rgba(0, 255, 255, 0.4);
$light-cyan-shadow: rgba(0, 255, 255, 0.5);

$light-green: rgba(0, 247, 165, 1);
$light-green-dim: rgba(0, 247, 165, 0.4);
$light-green-shadow: rgba(0, 247, 165, 1);

$light-magenta: rgba(247, 0, 148, 1);
$light-magenta-dim: rgba(247, 0, 148, 0.4);
$light-magenta-shadow: rgba(247, 0, 148, 1);

$wire-color: #222;